<!DOCTYPE html>

<html lang="pt">
  <head>
    <title>Trybe Typing</title>
    <script src="/socket.io/socket.io.js"></script>
  </head>

  <body>
    <h1>Trybe Typing</h1>
    <h2>Change name</h2>
    <input data-testid="nickname-box" type="text" id="nick">
    <button id="sendNick" data-testid="nickname-button">Change</button>
    <h2>Online users</h2>
    <ul id="users"></ul>
    <h2>Chat</h2>
    <ul id='chatMessage'>
      <% chatHistory.forEach(( el )=> { %>
        <li data-testid="message">
          <%= el.time %> - <%= el.nickname %>: <%= el.message %>
        </li>
        <% }) %>
    </ul>
    <input data-testid="message-box" type="text" id="textMessage">
    <button type="button" id="send" data-testid="send-button">
      Send
    </button>
    <script src="../scripts/script.js"></script>
  </body>

</html>