<!DOCTYPE html>

<html lang="pt">

<head>

  <title>Trybe Typing</title>

  <script src="/socket.io/socket.io.js"></script>

</head>

<body>

  <h1>Trybe Typing</h1>

  <h2>Change name</h2>

  <input data-testid="nickname-box" type="text" id="nick">

  <button id="sendNick" data-testid="nickname-button">
    Change
  </button>

  <h2>Online users</h2>

  <ul id="users"></ul>

  <h2>Chat</h2>

  <ul id='chatMessage'>
    <% chatHistory.forEach(( el )=> { %>
      <li data-testid="message">
        <%= el.time %> - <%= el.nickname %>: <%= el.message %>
      </li>
      <% }) %>
  </ul>

  <input data-testid="message-box" type="text" id="textMessage">

  <button type="button" id="send" data-testid="send-button">

    Send

  </button>

  <script>
    const socket = io();
    const send = document.querySelector('#send');
    const textMessage = document.querySelector('#textMessage');
    const chatMessage = document.querySelector('#chatMessage');
    const nick = document.querySelector('#nick');
    const sendNick = document.querySelector('#sendNick');
    const users = document.querySelector('#users');
    const randomName = `User-${Math.random().toString(20).substr(2, 11)}`;
    send.addEventListener('click', () => {
      const user = sessionStorage.getItem('nickname');
      socket.emit('message', { nickname: user, chatMessage: textMessage.value });
      textMessage.value = ''
      return false;
    });
    sendNick.addEventListener('click', () => {
      socket.emit('changeNickname', nick.value);
      nick.value = '';
      return false;
    });
    socket.on('message', (message) => {
      const li = document.createElement('li');
      li.setAttribute("data-testid", "message");
      li.innerText = message;
      chatMessage.appendChild(li)
    });
    socket.on('users', (online) => {
      users.innerHTML = '';
        const active = online.find((element) => element.id === socket.id);
        const filtered = online.filter((element) => element.id !== socket.id);
        filtered.unshift(active);
        filtered.forEach((element) => {
          const li = document.createElement('li');
          li.setAttribute("data-testid", "online-user");
          if (element.id === socket.id) {
            sessionStorage.setItem('nickname', element.nickname);
          }
          li.innerText = element.nickname;
          users.appendChild(li);
        });
      });
      socket.emit('online', randomName);
  </script>

</body>

</html>